@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Passions+Conflict&display=swap');

*{
    padding: 0%;
    margin: 0%;

}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

#nombre{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: #ffffff;
}

#menu{
    margin: 8px;
}


#menu>a{
    margin: 0 40px 0 0;
    color: #ffffff;
    text-decoration: none;
    padding-top: 28px;
}

#secciones{
    display: flex;
    justify-content: center;
    background-color: #E2E2E2;
}

.seccion{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

.seccion>a{
    color: #000000;
    text-decoration: none;
    margin: 8px;
}

.seccion:hover{
    background-color: #cacaca;
    transition-duration: 0.5s;
    
}

#productos{
    margin: 30px;
}

#intermedio-perros{
    display: flex;
    justify-content: center;
}

#productos>h1{
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 60px;
}

#productos>h4{
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 20px;
}

#productos>a{
    justify-content: flex-end;
}

#pagina_act{
    margin: 10px 0px 0px 30px;
}

#intermedio{
    display: flex;
    justify-content: center;
    margin: 20px;
}
